body{
    background-image: url(bg.png);
    background-size: 100%;
}
#bu1{
    border-color: aliceblue;
    color: aliceblue;
    position: relative;
    top:10px;
    float: right;
    margin-right: 10px;
}
#box1{
    align-content: center;
    position: relative;
    top:80px;
    left:50px;
    border-style: solid;
    border-radius: 10%;
    border-color:aliceblue;
    width:30%;
    color: aliceblue;
    height:400px;
    background-color: #8080ff;
}
#ta1{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top:5px;
}
.td1{
    font-size: 20px;
    text-align: right;
}
.ip1{
    border-radius: 8px;
    border-width: thin;
    border-style: solid;
    border-color: aliceblue;
    width:200px;
    height: 30px;
}
.tdc{
    padding-top: 15px;
}
#bu2{
    width:100px;
    border-color: aliceblue;
    color: aliceblue;
    position: relative;
    top:250px;
    left:-50px;
}
#bu3{
     width:100px;
    border-color: aliceblue;
    color: aliceblue;
    position: relative;
    left:153px;
    top:220px;
}
#im1{
    position: relative;
    left:100px;
    width:200px;
}